- platform: time_date
  display_options:
    - 'time'
    - 'date'
    - 'date_time'
    - 'time_date'

- platform: mqtt
  name: "Children Bedroom Temperature"
  object_id: temperature
  state_topic: "usensor/temperature/getvalue"
  unit_of_measurement: "°C"
  device_class: temperature
  state_class: measurement

- platform: mqtt
  name: "Children Bedroom Humidity"
  object_id: humidity
  state_topic: "usensor/humidity/getvalue"
  unit_of_measurement: "%"
  device_class: humidity
  state_class: measurement

- platform: mqtt
  name: "Mains Frequency"
  object_id: frequency
  state_topic: "udimmer/system/getfrequency"
  unit_of_measurement: "Hz"
  device_class: frequency
  state_class: measurement

- platform: template
  sensors:
    all_lights:
      friendly_name: "All lights: "
      value_template: >
        {%- set domains = ['light'] -%}
        {%- for domain in domains -%}
          {%- for item in states[domain] -%}
            {% if loop.first %}
              {{loop.length}}
            {% endif %}
          {%- endfor -%}
        {%- endfor -%}

    unavailable_lights:
      friendly_name: "All unavailable lights: "
      value_template: "{{ states.light | selectattr('state', 'equalto', 'unavailable') | list | length }}"
      icon_template: mdi:counter

    all_switches:
      friendly_name: "All switches: "
      value_template: >
        {%- set domains = ['switch'] -%}
        {%- for domain in domains -%}
          {%- for item in states[domain] -%}
            {% if loop.first %}
              {{loop.length}}
            {% endif %}
          {%- endfor -%}
        {%- endfor -%}

    unavailable_switches:
      friendly_name: "All unavailable switches: "
      value_template: "{{ states.switch | selectattr('state', 'equalto', 'unavailable') | list | length }}"
      icon_template: mdi:counter

    all_sensors:
      friendly_name: "All sensors: "
      value_template: >
        {%- set domains = ['sensor'] -%}
        {%- for domain in domains -%}
          {%- for item in states[domain] -%}
            {% if loop.first %}
              {{loop.length}}
            {% endif %}
          {%- endfor -%}
        {%- endfor -%}

    unavailable_sensors:
      friendly_name: "All unavailable sensors: "
      value_template: "{{ states.sensor | selectattr('state', 'equalto', 'unavailable') | list | length }}"
      icon_template: mdi:counter

    all_binary_sensor:
      friendly_name: "All binary sensors: "
      value_template: >
        {%- set domains = ['binary_sensor'] -%}
        {%- for domain in domains -%}
          {%- for item in states[domain] -%}
            {% if loop.first %}
              {{loop.length}}
            {% endif %}
          {%- endfor -%}
        {%- endfor -%}

    unavailable_binary_sensors:
      friendly_name: "All unavailable binary sensors: "
      value_template: "{{ states.binary_sensor | selectattr('state', 'equalto', 'unavailable') | list | length }}"
      icon_template: mdi:counter
      
    temperature_balcony:
      friendly_name: "Balcony Temperature"
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: "{{ states('weather.korolenka.temperature') | float }}"

    humidity_balcony:
      friendly_name: "Balcony Humidity"
      unit_of_measurement: "%"
      device_class: humidity
      value_template: "{{ states('weather.korolenka.humidity') | float }}"
